@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
    ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

@if (Model.Title == "Preface")
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}


<h2 class="text-dark">@Html.DisplayFor(m => m.Title)</h2>

<hr />

<div>
    @Html.DisplayFor(m => m.Content)
</div>

<ul class="list-group">
    @foreach (var item in Model.Navigation)
    {
        <li class="list-group-item">
            <a href="@Url.Action(action: "Section", values: new {id = item.Section})">@Html.DisplayFor(m => item.Text)</a>
        </li>
    }
</ul>