
@{
    ViewData["Title"] = "Book Name";
}

<h2>Book Chapters</h2>

<hr/>

<ul class="list-group">
  <li class="list-group-item">
      <a href="@Url.Action("ChapterContent", "Section")">Chapter Sample</a>
  </li>
</ul>

<a href="#">Return to Preface</a>