@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
    ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<h2>@Html.DisplayFor(m => m.Title)</h2>

<p>
    @Html.DisplayFor(m => m.Content)
</p>