@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
    ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<hr />
<h2>@Html.DisplayFor(m => m.Title)</h2>

<ul class="list-group">
    @foreach (var item in Model.Navigation)
    {
        <li class="list-group-item">
            <a href="@Url.Action(action: "GetBookContent", controller: "Section", values: new {id = item.Section})">@Html.DisplayFor(m => item.Text)</a>
        </li>
    }
</ul>