@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
    ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<div class="text-center">
    <h2 class="display-4">@Html.DisplayFor(m => m.Title)</h2>
</div>

<hr />

<ul class="list-group">
    @foreach (var item in Model.Navigation)
    {
        <li class="lnav-link ist-group-item">
            <a href="@Url.Action(action: "GetBookContent", controller: "Section", values: new {id = item.Section})" class="text-reset text-decoration-none">@Html.DisplayFor(m => item.Text)</a>
        </li>
    }
</ul>