@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
	ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<div class="text-center">
	<h1 class ="display-4">@Html.DisplayFor( m => m.Title)</h1>
</div>

<ul class="list-group">
	@foreach (var book in Model.Navigation)
	{
		<li class="list-unstyled list-group-item">
			<a href="@Url.Action(action: "GetBookContent", controller: "Section", values: new {id = book.Section})" class="text-reset text-decoration-none">@Html.DisplayFor(m => book.Text)</a>
		</li>
	}
</ul>