@{
	ViewData["Title"] = "Table of Contents";
}

<h4 class="display-4">Book Series Title</h4>
<hr/>
<h2>List of Books</h2>
<ul class="list-group">
	<li class="list-group-item">
		<a href="@Url.Action("Book", "Section")">Sample Book</a>
	</li>
</ul>