@model Team1_ABCPublishingProblem_WebApp.Models.Objects.Section
@{
	ViewData["Title"] = Html.DisplayFor(m => m.Title);
}

<h4 class="display-4">@Html.DisplayFor(m => m.Title)</h4>
<hr />
<h2>List of Books</h2>

<ul class="list-group">
	@foreach (var book in Model.Navigation)
	{
		<li class="list-group-item">
			<a href="@Url.Action(action: "Book", controller: "Section", values: new {id = book.Section})">@Html.DisplayFor(m => book.Text)</a>
		</li>
	}
</ul>