@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Adventures Of Sherlock Holmes</h1>
</div>

<a href="@Url.Action("Index", "Section")">Table of Content</a>
